<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">


<dom-module id="transfers-form">
  <template>
    <style>
      :host {
        padding-top: 1em;
        display: block;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      vaadin-combo-box {
        width: 300px;
      }


      paper-button[raised] {
        margin-top: 1em;
        background-color: #072146;
        color: white;
      }

    </style>

    <div class="card">
      <div class="marco">
        <h1>
          <iron-icon icon="compare-arrows"></iron-icon>
          <span style="font-weight: bold; color: #072146">Transferencias</span>
        </h1>
        <vaadin-combo-box id="accountList" label="Cuenta de Cargo" placeholder="Seleccionar cuenta" items="{{listaccounts}}" item-value-path="acc_complete" item-label-path="acc_complete" on-value-changed="valueChanged" value="[[_getFirstItem(listaccounts)]]" >
        </vaadin-combo-box>
        <paper-input id="cuentaAbono" label="Cuenta de Abono" type="" minlength="18" minlength="30" auto-validate error-message="Dato requerido" value="{{cuentaAbono::input}}" required></paper-input>
        <vaadin-combo-box id="divisa" label="Moneda" placeholder="Please select" items='["SOLES", "DOLARES"]' item-value-path="divisa" item-label-path="divisa" value="SOLES" on-value-changed="divisaChoosed"></vaadin-combo-box>
        <paper-input id="mount" label="Monto" type="float" auto-validate minlength="1" maxlength="9" validator="" error-message="Dato requerido" value="{{mount::input}}" required></paper-input>
        <paper-input id="concept" label="Referencia" type="" validator="" auto-validate error-message="Dato requerido" value="{{concept::input}}" required></paper-input>
        <paper-button id="enviar" raised>Continuar</paper-button>
        <br><br>
      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class TransfersForm extends Polymer.Element {
      static get is() {
        return 'transfers-form';
      }

      static get properties() {
        return {
          transferData: {
            type: Object
          },
          mount: {
            type: String
          },
          divisa: {
            type: String
          },
          cuentaAbono: {
            type: String
          },
          cuentaCargo: {
            type: String
          },
          concept: {
            type: String
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          },
          listaccounts: {
            type: Array
          }
        };
      }

      ready() {
        super.ready();
        this._cleanForm();
        this.$.enviar.addEventListener('click', e => {
          this._handleClick(e)
        });
      }

      _cleanForm() {
        this.$.mount.value = '';
        this.$.cuentaAbono.value = '';
        this.$.divisa.value = 'SOLES';
        this.$.concept.value = '';
      }

      _getFirstItem(accounts) {
        if (accounts) {
          this.cuentaCargo = accounts[0].acc_complete;
          return accounts.length > 0 && accounts[0].acc_complete;
        }
      }

      divisaChoosed(e) {
        this.divisa = this.$.divisa.value;
      }

      valueChanged(e) {
        this.cuentaCargo = this.$.accountList.value;
      }

      _handleClick(e) {
        if (this.$.mount.validate() &&
          this.$.cuentaAbono.validate() &&
          this.$.concept.validate()) {
          this.routeSimulate();
        }
      }

      routeSimulate() {
        this.transferData = {
          "mount": this.mount,
          "divisa": this.divisa,
          "cuentaAbono": this.cuentaAbono,
          "cuentaCargo": this.cuentaCargo,
          "concept": this.concept
        }
        this._cleanForm();
        this.dispatchEvent(new CustomEvent('eventroute', {
          detail: {
            "route": 'S',
            "data": this.transferData
          }
        }))
      }
    }
    window.customElements.define(TransfersForm.is, TransfersForm);
  </script>
</dom-module>
