<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="account-movements">
  <template>
    <style>
      :host {
        --padding-top: 1em;
        display: block;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      paper-button[raised] {
        margin-top: 1em;
        background-color: #072146;
        color: white;
      }
    </style>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />

    <div class="card">
    <h1>
      <iron-icon icon="menu"></iron-icon>
      <span style="font-weight: bold; color: #072146">Movimientos</span>
    </h1>

    <table>
      <tr>
        <td>
          <table>
            <tr>
              <td>
                {{account.numeroCuenta}}
              </td>
            </tr>
            <tr>
              <td>
                {{account.tipoCuenta}}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                 Disponible
              </td>
            </tr>
            <tr>
              <td>
                {{account.moneda}} {{account.saldoDisponible}}
              </td>
            </tr>
            <tr>
              <td>
                Contable {{account.moneda}} {{account.saldoDisponible}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="text-center">
                <th>Nro Operación</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Itf</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            <template is="dom-repeat" id="accountList" items={{account.movimientos}}  as="val">
                <tr>
                    <td>{{val.operacion}}</td>
                    <td>{{val.fecha}}</td>
                    <td>{{val.descripcion}}</td>
                    <td>{{val.impuesto}}</td>
                    <td>{{val.monto}}</td>
                </tr>
              </template>
        </tbody>
    </table>

    <paper-button raised id="atras" on-click="goAccountList">Atrás</paper-button>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class AccountMovements extends Polymer.Element {
      static get is() {
        return 'account-movements';
      }

      ready() {
        super.ready();
        console.log("AccountMovements : Ready() ");
      }

      static get properties() {
        return {
          account: {
            type: Object
          },
          accountMovements: {
            type: Array
          }
        };
      }

      showError(error) {
        console.log("Error Accounts: " + error);
      }

      goAccountList(e) {
        this.dispatchEvent(new CustomEvent('refaccount', {
          "detail": {
            "value": 'NOK'
          }
        }));
      }

    }
    window.customElements.define(AccountMovements.is, AccountMovements);
  </script>
</dom-module>
