<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<dom-module id="account-app">
  <template>
    <style>
        :host {
        padding-top: 1em;
        display: block;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 12px;
      }
      paper-button {
        --color: var(--paper-red-500);
        color: var(--paper-green-700);
      }

      paper-button[raised] {
        background-color: #072146;
        color: white;

      }
      paper-button#listener{
        font-size: 8px;
      }
    </style>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />

    <template is="dom-if" if="{{_isEqualTo(isMov, 'NOK')}}" >

      <div class="card">
        <h1>
          <iron-icon icon="menu"></iron-icon>
          <span style="font-weight: bold; color: #072146">Cuentas</span>
        </h1>

             <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="panel panel-success">
                   <div class="panel-body">
                       <div class="table-responsive">
                           <table class="table table-striped table-bordered table-hover">
                               <thead>
                                   <tr class="text-center">
                                       <th>Tipo y Número de Cuenta</th>
                                       <th>Saldo Contable</th>
                                       <th>Saldo Disponible</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <template is="dom-repeat" id="accountList" items={{accounts}}  as="val">
                                       <tr>
                                           <td>
                                             <table>
                                               <tr>
                                                 <td>
                                                    <table>
                                                      <tr>
                                                        <td>
                                                        {{val.numeroCuenta}}
                                                        <td>
                                                      </tr>
                                                      <tr>
                                                        <td>
                                                        {{val.tipoCuenta}}
                                                        <td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                  <td>
                                                    <paper-button raised on-click='detailMov' data-args$='[[val]]' >
                                                      <iron-icon icon="compare-arrows"></iron-icon>Mov.
                                                    </paper-button>
                                                  </td>
                                                </tr>

                                              </table>
                                           </td>
                                           <td>{{val.moneda}}{{val.saldoContable}}</td>
                                           <td>{{val.moneda}}{{val.saldoDisponible}}</td>

                                       </tr>
                                     </template>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
        </div>
      </div>
      </template >

    <template is="dom-if" if="{{_isEqualTo(isMov, 'OK')}}">
      <div class="card">
        <account-movements api=[[api]] user=[[user]] account=[[account]] isMov={{isMov}} on-refaccount="isRefresh" ></account-movements >
      </div>
    </template>
<!--
    <iron-ajax
    id="doAccountsGet"
    auto
    url=[[api.src_host]][[api.src_accounts]]{{context.user.numeroDocumento}}
    content-type="application/json"
    method="GET"
    handle-as="json"
    on-response="accountsAJAXResponse"
    on-error="showErrorAccounts">
-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class AccountApp extends Polymer.Element {
      static get is() {
        return 'account-app';
      }

      ready() {
        super.ready();
      }

      static get properties() {
        return {
          isMov: {
            type: String,
            value: 'NOK'
          },
          accounts: {
          type: Object
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          }
        };
      }


      _isEqualTo(title, string) {

        return title == string;
      }

      isRefresh(e){
        this.isMov=e.detail.value;
      }

      detailMov(e){
        var val=e.model.val;
        this.account = val;
        this.isMov="OK";
        }

    }
    window.customElements.define(AccountApp.is, AccountApp);
  </script>
</dom-module>
