<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="profile-config">
  <template>
    <style>
      :host {
        padding-top: 1em;
        display: block;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }

      th {
        background-color: #0D79AF;
        color: white;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      vaadin-combo-box {
        width: 300px;
      }

      .fmrCuenta {
        border: 1px solid rgba(3, 88, 216, .6);
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        margin: 2px;
        padding: 5px;
      }

      .marco {
        border: 1px solid rgba(191, 191, 191, 1);
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        margin: 0px 0px;
        padding: 0px 20px 16px;
      }

      .msgAlert{
          border-radius : 5px;
          margin: 0px 152px;
          text-align: center;
          font-size: 14px;
          background-color : var(--paper-orange-100);
          color: var(--paper-red-400);
          font-size: small
      }

      .msgSucessUpdatePass p{
        border-radius : 5px;
        margin: 0px 152px;
        text-align: center;
        font-size: 14px;
        background-color : var(--paper-green-100);
        color: var(--paper-green-900);
        font-size: small
      }

      paper-button[raised] {
        margin-top: 1em;
        background-color: var(--paper-blue-400);
        color: white;
      }

    </style>

    <div class="card">
      <div class="marco">

        <h1>Hola [[context.usr_name]]!!!</h1>
        <p> BIENVENIDO a tu perfil, desde aquí puedes cambiar tu contraseña y solicitar la apertura de una nueva cuenta.</p>

        <div class="fmrCuenta">
          <paper-checkbox id="checkInfo" on-change="checkinfoChanged" checked>Mi Información</paper-checkbox>
          <div id="info" class="info" hidden$="{{hideInfo}}">
            <h1>Mis Datos</h1>
            <p> <b>Nombre :</b> [[context.usr_name]]</p>
            <p> <b>Apellido :</b> [[context.usr_last_name]]</p>
            <p> <b>Correo :</b> [[context.usr_email]]</p>
            <p> <b>Celular :</b> [[context.usr_phone]]</p>
          </div>
        </div>


        <!--<template is="dom-if" if="{{_isEqualTo(showForm,'T')}}"> -->
        <div class="fmrCuenta">
          <paper-checkbox id="check" on-change="checkboxChanged" hidden="{{hiddenpBox}}">Solicitar cuenta</paper-checkbox>
          <div id="formulario" class="Form" hidden$="{{hide}}">
            <h1>Solicitud de Cuentas</h1>
            <vaadin-combo-box id="accountType" label="Tipo de Cuenta" placeholder="Tipo de Cuenta" items='["GANADORA","CORRIENTE","SUELDO"]' item-value-path="accountType" value="GANADORA">
            </vaadin-combo-box><br>
            <vaadin-combo-box id="divisa" label="Divisa" placeholder="Please select" items='["SOLES", "DOLARES"]' item-value-path="divisa" value="SOLES">
            </vaadin-combo-box><br>
            <br>
            <paper-button id="enviar" raised on-click="_invoqueAjax">Solicitar</paper-button>
          </div>
          <!--</template> -->
          <div id="msgSucess" hidden$="{{showMsg}}">
            <h1>Felicidades [[context.usr_name]]!!!</h1>
            <p>Hemos creado tu nueva cuenta, puedes usarla cuando desees.</p>
            <h1>Mi Nueva Cuenta</h1>
            <p> <b>Número :</b> [[body.acc_complete]]</p>
            <p> <b>Divisa :</b> [[body.acc_divisa]]</p>
            <p> <b>Saldo Contable :</b> [[body.acc_cont_mount]]</p>
            <p> <b>Saldo Disponible :</b> [[body.acc_dispo_mount]]</p>
            <br>
            <paper-button id="ok" raised on-click="_resetForm">Ok</paper-button>
          </div>
        </div>

        <div class="fmrCuenta">
          <paper-checkbox id="checkUpdatePass" on-change="checkboxUpdateChanged" hidden="{{hidenpBoxUpdatePass}}">Cambiar Contraseña</paper-checkbox>
          <div id="formUpdatePass" class="Form" hidden$="{{hideUpdatePass}}">
            <paper-input id="oldPass" label="Contraseña Actual" type="password" auto-validate error-message="Dato requerido" value="{{oldPass::input}}" required> </paper-input>
            <paper-button id="auth" raised on-click="_auth">Autenticar</paper-button>
            <paper-input id="newPass" label="Nueva Contraseña" type="password" auto-validate error-message="Dato requerido" value="{{newPass::input}}" required disabled> </paper-input>
            <paper-input id="validateNewPass" label="Ingrese nuevamente su contraseña nueva" type="password" auto-validate error-message="Dato requerido" value="{{validateNewPass::input}}" required disabled> </paper-input>
            <br>
            <div id="msgAlert" class="msgAlert" hidden="true">
              Los datos ingresados no coinciden.
            </div>
            <paper-button id="cancel" raised on-click="_cancel" disabled>Cerrar</paper-button>
            <paper-button id="change" raised on-click="_invoquePutUserAjax" disabled>Cambiar Contraseña</paper-button>
          </div>
          <div id="msgSucessUpdatePass" class="msgSucessUpdatePass" hidden="true">
            <p>Su contraseña se ha modificado correctamente</p>
            <br>
            <paper-button id="ok" raised on-click="_resetFormUpdatePass">Ok</paper-button>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax id="ajaxPostAccount" url=[[api.src_host]][[api.src_users]][[context.usr_id]]/[[api.src_accounts]] method="post" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="postAccountAJAXResponse" last-response="{{account}}" on-error="showError" headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

    <iron-ajax id="ajaxAuth" url=[[api.src_host]][[api.src_auth]] method="post" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="authAJAXResponse" last-response="{{user}}" on-error="showError">
    </iron-ajax>

    <iron-ajax id="ajaxPutUser" url=[[api.src_host]][[api.src_users]][[context.usr_id]] method="put" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="putUserAJAXResponse" last-response="{{responseServicio}}" on-error="showError" headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */

    class ProfileConfig extends Polymer.Element {
      static get is() {
        return 'profile-config';
      }

      ready() {
        super.ready();
        console.log("ProfileConfig : Ready() ");
      }

      static get properties() {
        return {
          data: {
            type: Object
          },
          routeTransfer: {
            type: String,
            value: 'F'
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          },
          accountNumber: {
            type: String
          },
          showMsg: {
            type: Boolean,
            value: true
          },
          hide: {
            type: Boolean,
            value: true
          },
          hiddenpBox: {
            type: Boolean,
            value: false
          },
          hideUpdatePass: {
            type: Boolean,
            value: true
          },
          reset: {
            type: Boolean,
            value: true,
            observer: '_resetForm'
          },
          oldPass: {
            type: String,
            value: ''
          },
          newPass: {
            type: String,
            value: ''
          },
          validateNewPass: {
            type: String,
            value: ''
          }
        };
      }

      _invoqueAjax() {
        this.generateAccount();
        this.body = {
          "acc_entity": "0011",
          "acc_office": "0774",
          "acc_check_digit": "48",
          "acc_type": this.$.accountType.value,
          "acc_number": this.accountNumber,
          "acc_complete": "001107744802" + this.accountNumber,
          "acc_estatus": "A1",
          "acc_divisa": this.$.divisa.value == 'SOLES' ? 'PEN' : 'USD',
          "acc_dispo_mount": 10000.99,
          "acc_cont_mount": 10000.99
        }
        this.$.ajaxPostAccount.generateRequest();
      }

      _invoquePutUserAjax() {
        if (this.$.newPass.validate() && this.$.validateNewPass.validate()) {
          if (this.newPass != this.validateNewPass) {
            this.$.msgAlert.hidden = false;
          } else {
            let data = {
              "usr_password": this.newPass
            }
            this.body = JSON.stringify(data);
            this.$.ajaxPutUser.generateRequest();
          }
        }
      }

      _invoqueAuthAjax() {
        let authData = {
          "usr_email": this.context.usr_email,
          "usr_password": this.oldPass
        };
        this.body = JSON.stringify(authData);
        this.$.ajaxAuth.generateRequest();
      }

      putUserAJAXResponse() {

        this.$.msgSucessUpdatePass.hidden = false;
        this.$.newPass.disabled = true;
        this.$.validateNewPass.disabled = true;
        this.$.cancel.hidden = true;
        this.$.change.hidden = true;

      }

      getUserAJAXResponse() {
        this.validatePass();
      }

      generateAccount() {
        this.accountNumber = "" + Math.floor(1e7 + (Math.random() * 9e7));
      }

      showError(error) {
        console.log("Error Accounts: " + error);
      }

      changeStep(e) {
        this.routeTransfer = e.detail.route;
        this.data = e.detail.data;
      }

      _isEqualTo(title, string) {
        return title == string;
      }

      postAccountAJAXResponse() {
        this.hiddenpBox = !this.hiddenpBox;
        this.showMsg = !this.showMsg;
        this.hide = !this.hide;
        this.dispatchEvent(new CustomEvent('refreshlist', {
          'detail': {
            'value': 'S'
          }
        }));
      }

      checkboxChanged(event) { //event.target.checked
        this.hide = !this.hide;
      }

      checkinfoChanged(event) {
        this.hideInfo = !this.hideInfo;
      }

      checkboxUpdateChanged(event) {
        this.hideUpdatePass = !this.hideUpdatePass;
      }

      _resetForm() {
        this.hiddenpBox = false;
        this.showMsg = true;
        this.hide = true;
        this.$.check.checked = false;
      }

      _resetFormUpdatePass() {
        this.hideUpdatePass = !this.hideUpdatePass;
        this.$.checkUpdatePass.checked = false;
        this.$.oldPass.disabled = false;
        this.$.auth.disabled = false;
        this.$.oldPass.value = '';
        this.$.newPass.value = '';
        this.$.validateNewPass.value = '';
        this.$.msgAlert.hidden = true;
        this.$.msgSucessUpdatePass.hidden = true;
        this.$.cancel.hidden = false;
        this.$.change.hidden = false;
      }

      _auth() {
        this._invoqueAuthAjax();
      }

      authAJAXResponse() {
        this.$.newPass.disabled = false;
        this.$.validateNewPass.disabled = false;
        this.$.cancel.disabled = false;
        this.$.change.disabled = false;
        this.$.oldPass.disabled = true;
        this.$.auth.disabled = true;
      }

    }
    window.customElements.define(ProfileConfig.is, ProfileConfig);
  </script>
</dom-module>
