<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="manager-app">
  <template>
    <style>
    </style>

    <template is="dom-if" if="{{_isEqualTo(isLogged, 'U')}}">
      <new-user id="newUserForm" on-myevent="goTologin" api=[[api]]></new-user>
    </template>

    <template is="dom-if" if="{{_isEqualTo(isLogged, 'N')}}">
      <login-app id="loginApp" on-data-sucess="login"></login-app>
    </template>

    <template is="dom-if" if="{{_isEqualTo(isLogged, 'S')}}">
      <global-router id="main" class="main" api=[[api]] context=[[context]] on-logoutevent="logout"></global-router>
    </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class ManagerApp extends Polymer.Element {
      static get is() {
        return 'manager-app';
      }
      static get properties() {
        return {
          isLogged: {
            type: String,
            value: 'N'
          },
          loading: {
            type: Boolean,
            value: false
          },
          api :{
            Object
          }
        };
      }

      ready() {
        super.ready();
        console.log("ManagerApp : Ready() ");
      }

      _isEqualTo(title, string) {
        return title == string;
      }

      login(e) {
        this.isLogged = e.detail.isLogged;
        this.api = e.detail.api;
        this.context = e.detail.data;

      }

      logout(e){
        this.isLogged = e.detail.isLogged;
      }

      goTologin(e){
        this.isLogged = e.detail.data;
      }

      json(s) {
        return JSON.stringify(s, null, 2);
      }

    }
    window.customElements.define(ManagerApp.is, ManagerApp);
  </script>
</dom-module>
